<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- SQL Server -->
    <add name="WxConn" connectionString="Data Source=.\MSSQL2005;Initial Catalog=WangxiaoCN;Persist Security Info=True;User ID=sa;Password=721521"
     providerName="System.Data.SqlClient" />
    <!-- MySql -->
  </connectionStrings>
</configuration>